form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  form div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
  }
  
  form div label {
    margin-right: 10px;
  }
  
  form div input {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  form div button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 3px;
  }
  
  form div button[type="reset"] {
    background-color: #f44336;
  }
  
.table-data {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.table-data table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

header1 {
  display: flex;
  position: fixed;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;; /* change this value to adjust the height of your header */
  box-sizing: border-box; /* include padding and border in height and width */
}

.header-name {
  font-size: 24px;
  font-weight: bold;
  margin-right: auto;
}

.logout-button {
  background-color: red;
  color: white;
  border: none;
  padding: 8px 15px;
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
}


body {
  background-color:rgb(213, 219, 221);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 60px;
  left: 0;
  background-color: rgb(34, 45, 50);
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left:300px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 60px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

