.table-data {
  margin: 20px 5px;
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 30%;
  margin-left: -75px;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr {
  background-color:rgb(245, 252, 255);
}

tr:hover {
  background-color: #ddd;
}

td a {
  display: inline-block;
  padding: 6px 30px;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  background-color: #4CAF50;
}

td a:hover {
  background-color: #3e8e41;
}

td a:last-child {
  margin-left: 10px;
  background-color: #f44336;
}

td a:last-child:hover {
  background-color: #da190b;
}
